<br>
<h2 style="text-align: center;">Infografía Jugadores</h2>
<br>

<div style="margin: auto !important; padding-right: 30%; padding-left: 30%;">
    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            <img src="../../../../assets/messi.jpg" alt="" height="200">

            <h3 style="text-align: center;">Messi</h3>
            <p>nombre: "Leonel Messi", 
                bio: "futbolista argentino que juega como delantero o centrocampista en el Paris Saint-Germain de la Ligue 1 de Francia 
                Es internacional con la selección de Argentina, equipo del que es capitán y máximo goleador histórico.", 
                img: "assets/img/messi.jpg", 
                nacimiento: " 24 de junio de 1987", 
                seleccion:"Argentina" 
                equipo:"PSG",</p>
        </div>
        <div class="col-lg-4">

        </div>
    </div>

</div>





