<br>
<h2 style="text-align: center;">Infografía Jugadores</h2>
<br>

<div style="margin: auto !important; padding-right: 30%; padding-left: 30%;">
    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            <img src="../../../../assets/ronaldo.jpg" alt="" height="200">

            <h3 style="text-align: center;">Ronaldo</h3>
            <p>nombre: "Cristiano Ronaldo", 
                bio: "futbolista portugués que juega como delantero en el Manchester United Football 
                Club de la Premier League de Inglaterra y en la selección de Portugal, de la cual es su capitán y máximo goleador histórico", 
                img: "assets/img/ronaldo.jpg", 
                nacimiento: "5 de febrero de 1985", 
                seleccion:"Portugal" 
                equipo:"Manchester UNITED"</p>
        </div>
        <div class="col-lg-4">

        </div>
    </div>

</div>





