<!-- Image and text -->
<nav class="navbar navbar-light bg-light" style="background-color: rgb(73, 145, 121) !important; border: solid 1px black !important;">
    <a class="navbar-brand" href="#" style="color: white;">
      <!--<img src="/docs/4.6/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
      Futbol play
    </a>
    <a class="navbar-brand" href="#" style="color: white;">
      <!--<img src="/docs/4.6/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
      Jugadores
    </a>
  </nav>