<br>
<h2 style="text-align: center;">Infografía Jugadores</h2>
<br>

<div style="margin: auto !important; padding-right: 30%; padding-left: 30%;">
    <div class="row">
        <div class="col-lg-4">
            <a [routerLink]="['../page01']">
                <img src="../../../../assets/messi.jpg" alt="" height="200">
            </a>
            <h3 style="text-align: center;">Messi</h3>
        </div>
        <div class="col-lg-4">
            <a [routerLink]="['../page02']">
                <img src="../../../../assets/ronaldo.jpg" alt="" height="200">
            </a>
            <h3 style="text-align: center;">Ronaldo</h3>
        </div>
        <div class="col-lg-4">
            <a [routerLink]="['../page03']">
                <img src="../../../../assets/james.jpg" alt="" height="200">
            </a>
            <h3 style="text-align: center;">James</h3>
        </div>
    </div>
</div>

  <p *ngif="false"></p>
