<footer class="bg-info text-center text-lg-start fixed-bottom">
    <!-- Grid container -->
    
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(49, 124, 92); color: white; height: 100px; border: solid 1px black;">
      <marquee>© 2023 Copyright: Diseñado por: Daniel Esteban Ortega Valencia. </marquee>
      <marquee>© 2023 Copyright: Diseñado por: Stephany Collazos. </marquee>
      <!--<a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>-->
    </div>
    <!-- Copyright -->
  </footer>