<br>
<h2 style="text-align: center;">Infografía Jugadores</h2>
<br>

<div style="margin: auto !important; padding-right: 30%; padding-left: 30%;">
    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            <img src="../../../../assets/james.jpg" alt="" height="200">

            <h3 style="text-align: center;">James</h3>
            <p> nombre: "James Rodriguez", 
                bio: "futbolista colombiano, que juega como centrocampista y su equipo actual es Al Rayyan S. C. de la Qatar Stars League. Recibió en 2009, 2012 y 
               2014 el premio de jugador revelación de la Primera División de Argentina y en la Primeira Liga de Portugal.", 
                img: "assets/img/james.jpg", 
                nacimiento: "12 de julio de 1991", 
                seleccion:"Colombia" 
                equipo:"Everton", </p>
        </div>
        <div class="col-lg-4">

        </div>
    </div>

</div>

